# OpenSea API Key — untuk fetch nama & gambar koleksi NFT dari contract address
# Daftar di: https://docs.opensea.io/reference/api-overview
VITE_OPENSEA_API_KEY="isi_opensea_api_key_lo_di_sini"

# Etherscan API Key — untuk fetch data transaksi NFT real dari blockchain Ethereum
# Daftar gratis di: https://etherscan.io/myapikey
VITE_ETHERSCAN_API_KEY="isi_etherscan_api_key_lo_di_sini"
